<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body background="{{ background }}" style="background-size: cover;">
    <div>
      <h1 style="text-align:center; display: block;">{{ title }}</h1>
    </div>
    <br>
    <hr>
  </body>
</html>