<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>dateOfBirth</th>
      <th>countryOfBirth</th>
      <th>nationality</th>
      <th>position</th>
      <th>shirtNumber</th>
      <th>lastUpdated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>534</td>
      <td>Brahim Konaté</td>
      <td>Brahim</td>
      <td>None</td>
      <td>1996-03-20</td>
      <td>France</td>
      <td>France</td>
      <td>Midfield</td>
      <td>None</td>
      <td>2021-03-02T07:24:24Z</td>
    </tr>
  </tbody>
</table>